* {
    font-family: 'Inter', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;

}

.logo {
    position: absolute;
    bottom: 90%;
    left: 3%;
}

.logo>img {
    width: 40%;
}

header {
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    margin-top: 5%;
    color: #162D3D;
    white-space: pre-line;
}

form {
    position: relative;
    left: 30%;
}

.div {
    position: relative;
    margin-top: 40px;
}

.div>input {
    width: 45%;
    height: 20%;
    background: none;
    color: #000;
    padding-top: 20px;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid #DDDDDE;
}

label {
    transition: 0.25s;
    color: #757575

}

.div>.lbl-name {
    position: absolute;
    right: 89%;
}

.div>.lbl-email {
    position: absolute;
    right: 68.3%;
}

.div>.lbl-password {
    position: absolute;
    right: 85%;
}

.div>.lbl-phone {
    position: absolute;
    right: 88%;
}
.div input:focus+.lbl-name,.div input:valid + .lbl-name {
    transform: translateY(-150%);
    font-size: 14px;
    right: 90.5%;
}
.div input:focus+.lbl-email {
    transform: translateY(-150%);
    font-size: 14px;
    right: 72.5%;
}
.div input:focus+.lbl-password {
    transform: translateY(-150%);
    font-size: 14px;
    right: 87%;
}
.div input:focus+.lbl-phone {
    transform: translateY(-150%);
    font-size: 14px;
    right: 89.5%;
}
form>button[type = "submit"]{
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid #116dff;
    border-radius: 60px;
    top: 105%;
    background-color: #116dff;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
    left: 32%;
    cursor: pointer;

}

form>button{
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid #116dff;
    border-radius: 60px;
    top: 105%;
    background-color: #fff;
    color: #116dff;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
    left: 23%;
}
form>button[type = "submit"]:hover{
    opacity: 0.7;
}

form>button:hover{
    background-color: #116dff;
    color: #fff;
}