* {
    font-family: 'Inter', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.header>h1 {
    font-size: 54px;
    font-style: normal;
}

.header>h5 {
    position: absolute;
    top: 100px;
    font-size: 15px;
    font-weight: 300;

}

a {
    text-decoration: none;
    color: #116dff;
}

.logo {
    position: absolute;
    bottom: 90%;
    left: 3%;
}

.logo>img {
    width: 40%;
}

form>label {
    font-weight: 300;
}

.form {
    position: relative;
    left: 20%;
}

.div {
    position: relative;
    margin-top: 40px;
}

.div>input {
    width: 25%;
    height: 20%;
    background: none;
    color: #000;
    padding-top: 20px;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgb(38, 166, 154);
    ;
}

.div>.lbl-id {
    position: absolute;
    right: 82.5%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;
}

.div>.lbl-email {
    position: absolute;
    right: 95.5%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;
}

.div>.lbl {
    position: absolute;
    right: 94%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;

}

.div>.lbl-apellido {
    position: absolute;
    right: 93.7%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;
}

.div>.lbl-edad {
    position: absolute;
    right: 95.7%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;
}


.div>.lbl-fecha {
    position: absolute;
    right: 85.5%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;
}
.div>.lbl-telefono {
    position: absolute;
    right: 85.5%;
    top: 24%;
    transition: 0.25s;
    color: #757575;
    font-size: 18px;
}
#input-date {
    position: relative;
    width: 10%;
    left: 15%;
    bottom: 8px;
    transition: .3s;
}

form input:focus+.lbl-email,
form input:valid+.lbl-email {
    transform: translateY(-150%);
    right: 97%;
    font-size: 14px;
    color: rgb(38, 166, 154);

}

form input:focus+.lbl,
form input:valid+.lbl {
    transform: translateY(-150%);
    right: 96%;
    font-size: 14px;
    color: rgb(38, 166, 154);

}

form input:focus+.lbl-edad,
form input:valid+.lbl-edad {
    transform: translateY(-150%);
    right: 97%;
    font-size: 14px;
    color: rgb(38, 166, 154);

}

form input:focus+.lbl-apellido,
form input:valid+.lbl-apellido {
    transform: translateY(-150%);
    right: 95.5%;
    font-size: 14px;
    color: rgb(38, 166, 154);

}

form #input-date:focus+.lbl-fecha,
form #input-date:valid+.lbl-fecha {
    right: 89%;
    font-size: 14px;
    color: rgb(38, 166, 154);

}

form input:focus+.lbl-id,
form input:valid+.lbl-id {
    transform: translateY(-150%);
    right: 86.5%;
    font-size: 14px;
    color: rgb(38, 166, 154);

}

.line {
    position: absolute;
    width: 0px;
    height: 150px;
    border: 1px solid rgb(38, 166, 154);;
    left: 30%;
    bottom: 50px;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(38, 166, 154);
    border-radius: 60px;
    left: 29.5%;
    bottom: 200px;
}

.line2 {
    position: absolute;
    width: 0px;
    height: 150px;
    border: 1px solid rgb(38, 166, 154);
    left: 30%;
    top: 63px;
}

.linkFace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid #116dff;
    cursor: pointer;
    position: absolute;
    left: 36%;
    bottom: 50%;
    border-radius: 60px;

}

.linkFace>a {
    position: relative;
    bottom: 5px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    font-size: 14px;

}

.linkFace>a>img {
    position: relative;
    top: 7px;
    right: 30px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid #116dff;
    cursor: pointer;
    position: absolute;
    left: 36%;
    bottom: 30%;
    border-radius: 60px;
}

.google>a {
    position: relative;
    bottom: 5px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    font-size: 14px;

}

.google>a>img {
    position: relative;
    top: 7px;
    right: 40px;
}

form>button[type="submit"] {
    position: absolute;
    width: 160px;
    height: 40px;
    border: 1px solid #116dff;
    border-radius: 60px;
    top: 110%;
    background-color: transparent;
    color: #116dff;
    font-size: 15px;
    transition: 0.3s;
}

form>button[type="submit"]:hover {
    background-color: #116dff;
    color: #fff;
}