<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/personal area.css">
    <link rel="icon" href="../Icons/LOGO JOSAN NUEVA VERSION.png">
    
</head>

<body>
    <header>
        <div class="logo">
            <img src="../Icons/JOSAN.png" alt="No funciona la imagen :">
        </div>

        <div class="user-img">
            <img src="../Icons/menu-2.png" alt="" id="menu" />
            <div class="navigation">
               
            </div>
        </div>
        <div class="notification">
            <img src="../Icons/notificacion.png" alt="No funciona" id="campana">
            <label for="">
                Notificacioness
            </label>
        </div>
        <input type="text" placeholder="Buscar">
       
    </header>

    <div id="img">
        <img src="../Icons/Proyecto Recortar imagen.png" alt="">
    </div>
    <div class="color1">
        <div class="color2">
            <div class="color3"></div>
        </div>
    </div>
    <div class="container">
        <div class="carrusel">
            <a href="sign up-Asistente.html"><img class=" items-1" src="../Icons/aisitente.png" alt=""></a>
            <a href="sign up-paciente.html"> <img class=" items-2" src="../Icons/pacientre.png" alt=""> </a>
            <a href="sign up-tratamiento.html"> <img class=" items-3" src="../Icons/tratamiento.png" alt=""></a>
            <a href="sign up-Medico.html"> <img class=" items-4" src="../Icons/medico.png" alt=""></a>
        </div>
<table border="1">

    <thead>
        <tr>

          <th>Paciente</th>
          <th>Asistente</th>
          <th>Medico</th>
          <th>Tratamiento</th>
        </tr>
      </thead>

      <tbody>
        <tr>
            <ul class="ul"></ul>
          <td><li><a href="ver-informacion.php" name="Mostrar">Ver registros de pacientes</a></li></td>
          <td><li><a href="ver-informacionAsistente.php" name="Mostrar">Ver registros de asistentes</a></li></td>
          <td><li><a href="ver-informacionMedico.php" name="Mostrar">Ver registros de asistentes</a></li></td>
       <td><li><a href="ver-informacionTratamiento.php" name="Mostrar">Ver registros de tratamientos</a></li></td>
        </ul>
        </tr>
        <tr>
          <td><li><a href="editarPaciente.php">Editar pacientes</a></li></td>
          <td><li><a href="editarAsistente.php">Editar asistentes</a></li></td>
          <td><li><a href="editarMedico.php">Editar medicos</a></li></td>
        <td><li><a href="editartratamiento.php">Editar tratamientos</a></li></td>
        </tr>
        <tr>
          <td><li><a href="eliminarPaciente.php">Eliminar pacientes</a></li></td>
          <td><li><a href="eliminarAsistente.php">Eliminar Asistentes</a></li></td>
          <td><li><a href="eliminarMedico.php">Eliminar Medicos</a></li></td>
       <td>Eliminar tratamiento</td>
        </tr>
      </tbody>



</table>
        

    
    



       




    </div>

</body>

</html>