<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de la cuenta</title>
    <link rel="stylesheet" href="Css/recover2.css">
    <link rel="icon" href="../Icons/LOGO JOSAN NUEVA VERSION.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Wix+Madefor+Text:wght@500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        Introduce tus datos
    </header>
    <div class="logo">
        <img src="../Icons/JOSAN.png" alt="No funciona la imagen :(">
    </div>
    <form action="">
        <div class="div">
            <input type="text" name="name" required autocomplete="off">
            <label for="name" class="lbl-name">
                <span>Nombre completo</span>
            </label>
        </div>
        <div class="div">
            <input type="email" name="email"required autocomplete="off">
            <label for="email" class="lbl-email">
                <span>Un nuevo email de contacto para comunicarnos contigo</span>
            </label>
        </div>
        <div class="div">
            <input type="text" name="password"required autocomplete="off">
            <label for="password" class="lbl-password">
                <span>Número de identificación</span>
            </label>
        </div>
        <div class="div">
            <input type="text" name="phone"required autocomplete="off">
            <label for="phone" class="lbl-phone">
                <span>Número de teléfono</span>
            </label>
        </div>
        <button type="submit">Seguir</button>
        <button>Volver</button>
    </form>
</body>

</html>