<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reccuperación de la cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Wix+Madefor+Text:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="Css/recover.css">
    <link rel="icon" href="../Icons/LOGO JOSAN NUEVA VERSION.png">
</head>

<body>
    <header>
        ¿En qué te podemos ayudar?
    </header>
    <div class="logo">
        <img src="../Icons/JOSAN.png" alt="No funciona la imagen :(">
    </div>
    <form action="">
        <input type="checkbox" id = "here">
        <label for="here">Olvidé mi email de inicio de sesión</label>
        <input type="checkbox" id = "password">
        <label for="password">Olvidé mi contraseña y el email de inicio de sessión</label>
        <input type="checkbox" id ="email">
        <label for="email">No puedo acceder a mi email de inicio de sesión</label>
        <button type="submit">Siguiente</button>
        <button>Atras</button>
    </form>
    <div class = "line"></div>
</body>

</html>